<div class="sign-in">
  <div class="sign-in-content mat-elevation-z3">
    
    <div class="sign-in-content-upps">
      <span>Регистрация</span>

    </div>
    
    <div class="sign-in-content-account" fxLayout="row" fxLayoutGap="4px">
      <span>У вас есть аккаунт?</span>
      <a href="/auth/sign-in">Войти</a>

    </div>


  <form *ngIf="!isRegister" [formGroup]="Form" novalidate>
    <div fxLayout="column" class="sign-in-content-user">
      <span>User name*</span>

        <mat-form-field appearance="outline">
          <input type="text" matInput formControlName="userName" required>
          <mat-error *ngIf="Form.get('userName')?.hasError('required')">
            User name <strong>обязательное поле</strong>
          </mat-error>
        </mat-form-field>
    
    </div>

      <div fxLayout="column" class="sign-in-content-email">
        <span>Email*</span>

          <mat-form-field appearance="outline">
            <input type="email" matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="Form.get('email')?.hasError('email') && !Form.get('email')?.hasError('required')">
              Пожалуйста введите корректный адрес почты
            </mat-error>
            <mat-error *ngIf="Form.get('email')?.hasError('required')">
              Email <strong>обязательное поле</strong>
            </mat-error>
          </mat-form-field>
      
      </div>

      <div fxLayout="column" class="sign-in-content-password">
        <span>Password*</span>

          <mat-form-field appearance="outline">
            <input type="password" matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-error *ngIf="Form.get('password')?.hasError('required')">
              Password <strong>обязательное поле</strong>
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

      </div>

      <mat-error *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </mat-error>

      <div class="sign-in-content-signin">
        <button type="submit" [disabled]="Form.invalid" mat-raised-button  color="primary" (click)="register()">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</div>

