<div class="sign-in">
  <div class="sign-in-content mat-elevation-z3">
    
    <div class="sign-in-content-upps">
      <span>Авторизация</span>

    </div>
    
    <div class="sign-in-content-account" fxLayout="row" fxLayoutGap="4px">
      <span>У вас нет аккаунта?</span>
      <a href="#">зарегистрироваться</a>

    </div>


  <form [formGroup]="authForm" novalidate (ngSubmit)="onSubmit()">
      <div fxLayout="column" class="sign-in-content-email">
        <span>Email*</span>

          <mat-form-field appearance="outline">
            <input matInput placeholder="pat@example.com" formControlName="email" required>
          </mat-form-field>
      
      </div>

      <div fxLayout="column" class="sign-in-content-password">
        <span>Password*</span>

          <mat-form-field appearance="outline">
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

      </div>

      <div class="sign-in-content-forgot" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="example-margin">Запомнить меня</mat-checkbox>
        <a class="section-hr" href="">забыли пароль? </a>

      </div>
      <div class="sign-in-content-signin">
        <button type="submit" [disabled]="authForm.invalid" [routerLink]="['/posts/posts-list']" mat-raised-button  color="primary">Войти</button>
      </div>
    </form>
  </div>
</div>
